In [12]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [3]:
labels = ['a','b','c']
my_data = [1,2,3]
arr = np.array(my_data)
d = {'a':1, 'b':2, 'c':3}

In [4]:
pd.Series(data=my_data, index=labels)

a    1
b    2
c    3
dtype: int64

In [5]:
pd.Series(arr)

0    1
1    2
2    3
dtype: int64

In [6]:
pd.Series(d)

a    1
b    2
c    3
dtype: int64

In [7]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [8]:
pd.Series(data=[sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [9]:
s1 = pd.Series([1,2,3,4],['USA','Germany','France', 'Japan'])
s2 = pd.Series([1,2,5,4], ['USA','Germany','Italy', 'Japan'])

In [10]:
s1['USA']

1

In [ ]:
np.random.seed(101)

In [17]:
df = pd.DataFrame(data=randn(5,4), index=['A','B', 'C', 'D','E'], columns=['W','X','Y','Z'])

In [18]:
df

          W         X         Y         Z
A -0.514321 -0.652042 -0.861268 -1.339571
B  0.559722  0.080648 -1.932528 -0.313388
C  0.324905 -0.311864  1.009727  0.960339
D -0.920543  1.581115  1.336260 -0.930217
E  1.373899 -0.920359 -1.860253  0.628301

In [19]:
df['W']

A   -0.514321
B    0.559722
C    0.324905
D   -0.920543
E    1.373899
Name: W, dtype: float64

In [20]:
type(df['W'])

pandas.core.series.Series

In [21]:
type(df)

pandas.core.frame.DataFrame

In [22]:
df.W

A   -0.514321
B    0.559722
C    0.324905
D   -0.920543
E    1.373899
Name: W, dtype: float64

In [24]:
df[['W','X']]

          W         X
A -0.514321 -0.652042
B  0.559722  0.080648
C  0.324905 -0.311864
D -0.920543  1.581115
E  1.373899 -0.920359

In [25]:
df['new'] = df['W'] + df['Y']

In [26]:
df['new']

A   -1.375588
B   -1.372806
C    1.334632
D    0.415717
E   -0.486354
Name: new, dtype: float64

In [27]:
df.drop('new', axis=1)

          W         X         Y         Z
A -0.514321 -0.652042 -0.861268 -1.339571
B  0.559722  0.080648 -1.932528 -0.313388
C  0.324905 -0.311864  1.009727  0.960339
D -0.920543  1.581115  1.336260 -0.930217
E  1.373899 -0.920359 -1.860253  0.628301

In [28]:
df

          W         X         Y         Z       new
A -0.514321 -0.652042 -0.861268 -1.339571 -1.375588
B  0.559722  0.080648 -1.932528 -0.313388 -1.372806
C  0.324905 -0.311864  1.009727  0.960339  1.334632
D -0.920543  1.581115  1.336260 -0.930217  0.415717
E  1.373899 -0.920359 -1.860253  0.628301 -0.486354

In [29]:
df.drop('new', axis=1, inplace=True)

In [30]:
df

          W         X         Y         Z
A -0.514321 -0.652042 -0.861268 -1.339571
B  0.559722  0.080648 -1.932528 -0.313388
C  0.324905 -0.311864  1.009727  0.960339
D -0.920543  1.581115  1.336260 -0.930217
E  1.373899 -0.920359 -1.860253  0.628301

In [31]:
df.drop('E', axis=0)

          W         X         Y         Z
A -0.514321 -0.652042 -0.861268 -1.339571
B  0.559722  0.080648 -1.932528 -0.313388
C  0.324905 -0.311864  1.009727  0.960339
D -0.920543  1.581115  1.336260 -0.930217

In [32]:
df.shape

(5, 4)

In [33]:
df.loc['A']

W   -0.514321
X   -0.652042
Y   -0.861268
Z   -1.339571
Name: A, dtype: float64

In [34]:
df.iloc[1]

W    0.559722
X    0.080648
Y   -1.932528
Z   -0.313388
Name: B, dtype: float64

In [35]:
df.loc['B','Y']

-1.9325279887844555

In [36]:
df.loc[['A','B'], ['X','Y']]

          X         Y
A -0.652042 -0.861268
B  0.080648 -1.932528

In [41]:
booldf = df > 0
booldf

       W      X      Y      Z
A  False  False  False  False
B   True   True  False  False
C   True  False   True   True
D  False   True   True  False
E   True  False  False   True

In [42]:
df[booldf]

          W         X         Y         Z
A       NaN       NaN       NaN       NaN
B  0.559722  0.080648       NaN       NaN
C  0.324905       NaN  1.009727  0.960339
D       NaN  1.581115  1.336260       NaN
E  1.373899       NaN       NaN  0.628301

In [43]:
df[df > 0]

          W         X         Y         Z
A       NaN       NaN       NaN       NaN
B  0.559722  0.080648       NaN       NaN
C  0.324905       NaN  1.009727  0.960339
D       NaN  1.581115  1.336260       NaN
E  1.373899       NaN       NaN  0.628301

In [44]:
df[df['W'] > 0]

          W         X         Y         Z
B  0.559722  0.080648 -1.932528 -0.313388
C  0.324905 -0.311864  1.009727  0.960339
E  1.373899 -0.920359 -1.860253  0.628301

In [45]:
df[df['Z'] < 0]

          W         X         Y         Z
A -0.514321 -0.652042 -0.861268 -1.339571
B  0.559722  0.080648 -1.932528 -0.313388
D -0.920543  1.581115  1.336260 -0.930217

In [46]:
df[df['W'] > 0]['X']

B    0.080648
C   -0.311864
E   -0.920359
Name: X, dtype: float64

In [53]:
df[(df['W'] > 0) & (df['Y'] > 1)]

          W         X         Y         Z
C  0.324905 -0.311864  1.009727  0.960339

In [54]:
df.reset_index()

  index         W         X         Y         Z
0     A -0.514321 -0.652042 -0.861268 -1.339571
1     B  0.559722  0.080648 -1.932528 -0.313388
2     C  0.324905 -0.311864  1.009727  0.960339
3     D -0.920543  1.581115  1.336260 -0.930217
4     E  1.373899 -0.920359 -1.860253  0.628301

In [55]:
newindex = 'CA NY WY OR CO'.split()

In [56]:
df['States'] = newindex

In [57]:
df

          W         X         Y         Z States
A -0.514321 -0.652042 -0.861268 -1.339571     CA
B  0.559722  0.080648 -1.932528 -0.313388     NY
C  0.324905 -0.311864  1.009727  0.960339     WY
D -0.920543  1.581115  1.336260 -0.930217     OR
E  1.373899 -0.920359 -1.860253  0.628301     CO

In [58]:
df.set_index('States')

               W         X         Y         Z
States
CA     -0.514321 -0.652042 -0.861268 -1.339571
NY      0.559722  0.080648 -1.932528 -0.313388
WY      0.324905 -0.311864  1.009727  0.960339
OR     -0.920543  1.581115  1.336260 -0.930217
CO      1.373899 -0.920359 -1.860253  0.628301

In [59]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [60]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [61]:
df = pd.DataFrame(randn(6,2), hier_index, ['A','B'])

In [62]:
df

             A         B
G1 1 -0.294127 -1.983524
   2 -0.495689 -0.112821
   3  0.916197  0.364620
G2 1 -0.174342  0.540471
   2 -1.568071  0.579393
   3 -0.791067  1.870466

In [63]:
df.loc['G1']

          A         B
1 -0.294127 -1.983524
2 -0.495689 -0.112821
3  0.916197  0.364620

In [64]:
df.loc['G1'].loc[1]

A   -0.294127
B   -1.983524
Name: 1, dtype: float64

In [67]:
df.index.names = ['Groups', 'Num']

In [68]:
df

                   A         B
Groups Num
G1     1   -0.294127 -1.983524
       2   -0.495689 -0.112821
       3    0.916197  0.364620
G2     1   -0.174342  0.540471
       2   -1.568071  0.579393
       3   -0.791067  1.870466

In [69]:
df.loc['G2'].loc[2]['B']

0.5793933649909656

In [71]:
df.xs('G1')

            A         B
Num
1   -0.294127 -1.983524
2   -0.495689 -0.112821
3    0.916197  0.364620

In [72]:
df.xs(1, level='Num')

               A         B
Groups
G1     -0.294127 -1.983524
G2     -0.174342  0.540471

# Missing data

In [73]:
d = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [74]:
df = pd.DataFrame(d)

In [75]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [76]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [77]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [78]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [79]:
df.fillna(value='FILL')

      A     B  C
0   1.0   5.0  1
1   2.0  FILL  2
2  FILL  FILL  3

In [80]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

Group by

In [81]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
        'Person':['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
        'Sales':[200,120,340,124,243,350]}

In [82]:
df = pd.DataFrame(data)

In [83]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [85]:
byCompany = df.groupby('Company')

In [86]:
byCompany.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [87]:
byCompany.sum()

         Sales
Company
FB         593
GOOG       320
MSFT       464

In [88]:
byCompany.std()

              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [89]:
byCompany.sum().loc['FB']

Sales    593
Name: FB, dtype: int64

In [91]:
df.groupby('Company').describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

# Merging Joining

In [95]:
df1 = pd.DataFrame({'A':['A0','A1','A2','A3'],
                    'B':['B0','B1','B2','B3'],
                    'C':['C0','C1','C2','C3'],
                    'D':['D0','D1','D2','D3']},
                   index=[0,1,2,3])

In [96]:
df2 = pd.DataFrame({'A':['A4','A5','A6','A7'],
                    'B':['B4','B5','B6','B7'],
                    'C':['C4','C5','C6','C7'],
                    'D':['D4','D5','D6','D7']},
                   index=[4,5,6,7])

In [97]:
df3 = pd.DataFrame({'A':['A8','A9','A10','A11'],
                    'B':['B8','B9','B10','B11'],
                    'C':['C8','C9','C10','C11'],
                    'D':['D8','D9','D10','D11']},
                   index=[8,9,10,11])

In [98]:
pd.concat([df1, df2, df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [99]:
left = pd.DataFrame({'key':['K0','K1','K2','K3'],
                     'A':['A0','A1','A2','A3'],
                     'B':['B0','B1','B2','B3']})
right = pd.DataFrame({'key':['K0','K1','K2','K3'],
                     'C':['C0','C1','C2','C3'],
                     'D':['D0','D1','D2','D3']})

In [100]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [101]:
pd.merge(left, right,how='inner', on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

# Operations

In [102]:
df = pd.DataFrame({'col1':[1,2,3,4],
                   'col2':[444,555,666,444],
                   'col3':['abc','efg','hij','klm']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  efg
2     3   666  hij
3     4   444  klm

In [103]:
df['col2'].unique()

array([444, 555, 666])

In [104]:
df['col2'].nunique()

3

In [105]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [108]:
df[df['col1'] > 2]

   col1  col2 col3
2     3   666  hij
3     4   444  klm

In [109]:
def times2(x):
    return x*2

In [110]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [111]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [112]:
df['col3'].apply(lambda x: x*2)

0    abcabc
1    efgefg
2    hijhij
3    klmklm
Name: col3, dtype: object

In [113]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [114]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [115]:
df.sort_values(by='col2')

   col1  col2 col3
0     1   444  abc
3     4   444  klm
1     2   555  efg
2     3   666  hij

In [117]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [118]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
        'B':['one','one','two','two','one','one'],
        'C':['x','y','x','y','x','y'],
        'D':[1,2,3,4,5,1]}
df = pd.DataFrame(data)

In [119]:
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  2
2  foo  two  x  3
3  bar  two  y  4
4  bar  one  x  5
5  bar  one  y  1

In [120]:
df.pivot_table(values='D', index=['A','B'], columns=['C'])

C          x    y
A   B
bar one  5.0  1.0
    two  NaN  4.0
foo one  1.0  2.0
    two  3.0  NaN

# Data Input and Output

In [121]:
pwd

'/Users/david/IdeaProjects/_courses/_python/plot'

In [ ]:
pd.read_csv('')