In [2]:
import numpy as np
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [3]:
df = pd.read_csv('tips.csv')

In [5]:
df['ccnumber'] = np.random.randint(1000000000000000, 9999999999999999, df.shape[0])
df.head()

   total_bill   tip     sex smoker  day    time  size          ccnumber
0       16.99  1.01  Female     No  Sun  Dinner     2  3111500527559399
1       10.34  1.66    Male     No  Sun  Dinner     3  1730534917192509
2       21.01  3.50    Male     No  Sun  Dinner     3  7331345848256376
3       23.68  3.31    Male     No  Sun  Dinner     2  4343510751436908
4       24.59  3.61  Female     No  Sun  Dinner     4  6596250057576353

In [6]:
def last_four(num):
    return str(num)[-4:]    

df['ccnumber'].apply(last_four)

0      9399
1      2509
2      6376
3      6908
4      6353
       ...
239    6141
240    2716
241    2129
242    0449
243    2522
Name: ccnumber, Length: 244, dtype: object

In [7]:
def yelp(price):
    if price < 10:
        return '$'
    elif price >= 10 and price < 30:
        return '$$'
    else:
        return '$$$'

In [9]:
df['yelp'] = df['total_bill'].apply(yelp)
df.head()

   total_bill   tip     sex smoker  day    time  size          ccnumber yelp
0       16.99  1.01  Female     No  Sun  Dinner     2  3111500527559399   $$
1       10.34  1.66    Male     No  Sun  Dinner     3  1730534917192509   $$
2       21.01  3.50    Male     No  Sun  Dinner     3  7331345848256376   $$
3       23.68  3.31    Male     No  Sun  Dinner     2  4343510751436908   $$
4       24.59  3.61  Female     No  Sun  Dinner     4  6596250057576353   $$

# Apply to multiple columns

In [10]:
import numpy as np
import pandas as pd

In [12]:
df['total_bill'].apply(lambda bill: np.round(bill, 2))

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [13]:
def quality(total_bill, tip):
    if tip / total_bill > 0.25:
        return 'Generous'
    else:
        return 'Other'

In [15]:
df['quality'] = df[['total_bill', 'tip']].apply(lambda df: quality(df['total_bill'], df['tip']), axis=1)

In [16]:
df.head()

,total_bill,tip,sex,smoker,day,time,size,ccnumber,yelp,quality
0,16.99,1.01,Female,No,Sun,Dinner,2,3111500527559399,$$,Other
1,10.34,1.66,Male,No,Sun,Dinner,3,1730534917192509,$$,Other
2,21.01,3.50,Male,No,Sun,Dinner,3,7331345848256376,$$,Other
3,23.68,3.31,Male,No,Sun,Dinner,2,4343510751436908,$$,Other
4,24.59,3.61,Female,No,Sun,Dinner,4,6596250057576353,$$,Other

## Vectorize

In [17]:
df['quality'] = np.vectorize(quality)(df['total_bill'], df['tip'])